body{
  margin:0;
  background:#111;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  font-family:'Poppins';
}

/* PHONE FRAME */
.phone{
  width:360px;
  height:720px;
  background:black;
  border-radius:40px;
  padding:10px;
  box-shadow:0 20px 60px rgba(0,0,0,0.5);
  position:relative;
}

/* CARD */
.card{
  height:100%;
  border-radius:30px;
  padding:20px;
  text-align:center;

  background:
    url('https://i.imgur.com/4NZ6uLY.png') center/cover;
}

/* MUSIC CHIP */
.music{
  position:absolute;
  top:20px;
  right:20px;
  background:#eee;
  padding:5px 10px;
  border-radius:20px;
  font-size:12px;
}

/* TITLE */
.title{
  font-family:'Great Vibes';
  font-size:26px;
}

h1{
  font-family:'Playfair Display';
  margin:5px;
}

.heart{
  color:red;
}

/* TIMER */
.timer{
  background:#e8d6bd;
  padding:10px;
  border-radius:15px;
  margin:15px 0;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
}

/* VENUE BOX */
.box{
  border:1px solid #d9c3a5;
  padding:10px;
  border-radius:15px;
  margin:10px 0;
}

/* BUTTONS */
.btn{
  width:100%;
  padding:12px;
  margin:6px 0;
  border:none;
  border-radius:30px;
  color:white;
  font-size:15px;
}

.orange{background:linear-gradient(90deg,#ff9800,#f44336);}
.purple{background:linear-gradient(90deg,#6a1b9a,#1e88e5);}
.green{background:linear-gradient(90deg,#2e7d32,#00897b);}

.view{
  margin-top:10px;
  padding:8px 20px;
  border-radius:20px;
}

/* POPUP */
.popup{
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
}

.popup-card{
  width:320px;
  background:url('https://i.imgur.com/4NZ6uLY.png');
  margin:80px auto;
  padding:20px;
  border-radius:25px;
  text-align:center;
  animation:zoom 0.3s ease;
}

@keyframes zoom{
  from{transform:scale(0.7);opacity:0;}
  to{transform:scale(1);opacity:1;}
}

.close{
  position:absolute;
  right:20px;
  top:10px;
  color:red;
  cursor:pointer;
}

.dates{
  display:flex;
  justify-content:space-between;
  margin:15px 0;
}

/* TOAST */
#toast{
  position:fixed;
  bottom:20px;
  right:20px;
  background:green;
  color:white;
  padding:10px;
  border-radius:10px;
  display:none;
}
